.question-div {
  max-width: 80%;
  min-height: 10vh;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 0.5rem;
  background-color: transparent;
  animation: fadeIn 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .question-div {
    font-size: 1rem;
  }
}
