@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px !important;
  /* direction: rtl ;
  text-align: right ; */
}
body {
  margin: 0px !important;
  font-family: "Poppins", sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  background-color: transparent !important;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  /* Adjust font size for smaller screens */
  html {
    font-size: 12px;
  }
}

/* Styles for screens between 768px and 991px tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }
}

/* Styles for screens larger than 992px desktops */
@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
